@import '../../styles/mixin';

.auth {
	min-height: calc(100vh - 471px);
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
    margin: 100px auto;

	.wrapper {
		background: #FFFFFF;
		box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.05);
		border-radius: 10px;
		width: 420px;
		padding: 40px;

		.auth_header {
			padding-bottom: 30px;

			h1 {
				font-weight: bold;
				color: #000;
				font-size: 36px;
				font-family: $Mont;
			}

			p {
				font-weight: 600;
				font-size: 18px;
				line-height: 35px;
				color: #686666;
			}

			.profile_img {
				position: relative;
				height: 120px;
				width: 120px;
				border-radius: 50%;
				border: 3px solid rgba($color: #000, $alpha: 0.05);
				padding: 5px;
				overflow: hidden;

				img {
					object-fit: cover;
					object-position: center;
					border-radius: 50%;
					height: 100%;
				}

				.btn {
					position: absolute;
					left: 0;
					top: 100%;
					height: 112px;
					width: 112px;
					border-radius: 50%;
					background-color: rgba($color: color(orange), $alpha: 1);
					z-index: -1;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					transition: all 0.2s ease-in-out;

					span {
						display: block;
						padding-top: 3px;
						font-size: 12px;
						color: #fff;
					}

					.icon {
						font-size: 30px;
						color: #fff;
					}
				}

				&:hover {
					
					.btn {
						top: 0;
						z-index: 1;
					}
				}
			}
		}

		form {

			.form_grp {
				padding-bottom: 20px;

				.flex_item {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}

				.forgot_btn {
					color: #2D9CDB;
					font-weight: 600;
					font-size: 12px;
			
				}

				label {
					font-weight: 600;
					font-size: 12px;
					color: #686666;
				}

				.form_control {
					height: 50px;
					line-height: 50px;
					padding: 0;
					font-weight: 500;
					color: #404040;
					border: 0;
					border-bottom: 1px solid rgba(0, 0, 0, 0.05);
					border-radius: 0;
					background: transparent !important;
					transition: all 0.3s ease-in-out;
					display: block;
					width: 100%;
					outline:0;
					
					&::placeholder {
						color: rgba(0, 0, 0, 0.25);
					}

					&:focus {
						border-color: color(orange);
					}
				}
			}
		}

		.btn_submit {
			background: color(orange);
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			margin-top: 20px;
			padding: 0;
			height: 50px;
			line-height: 50px;
			border-radius: 30px;
			font-size: 13px;
			font-weight: 600;
			letter-spacing: 0.5px;

			&.gray {
				background: rgba($color: #000, $alpha: 0.05);
				color: #333;
			}
		}

		.btns_grp {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.btn {
				width: 48%;
			}
		}

		.otp_area {

			.form_control {
				background: transparent !important;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				margin-top: 20px;
				margin-bottom: 60px;
				// height: 50px;
				// line-height: 50px;
				display: block;
				width: 100%;
				border-radius: 0;
				border: 0;
				border-bottom: 2px solid rgba(0, 0, 0, 0.1);
				font-size: 20px;
				font-weight: 600;
				letter-spacing: 0.5px;
			}
		}
	}
}
